/WUT.ParallelProgramming/.vs/WUT.ParallelProgramming/v15/.suo
/WUT.ParallelProgramming/.vs/WUT.ParallelProgramming/v15/Server/sqlite3/db.lock
/WUT.ParallelProgramming/.vs/WUT.ParallelProgramming/v15/Server/sqlite3/storage.ide
/WUT.ParallelProgramming/.vs/WUT.ParallelProgramming/v15/Server/sqlite3/storage.ide-shm
/WUT.ParallelProgramming/.vs/WUT.ParallelProgramming/v15/Server/sqlite3/storage.ide-wal
/WUT.ParallelProgramming/WUT.Zad1.Lib/obj/Debug
/WUT.ParallelProgramming/WUT.Zad1.Console/obj/Debug
/WUT.ParallelProgramming/WUT.Zad1.Lib/bin/Debug
/WUT.ParallelProgramming/WUT.Zad1.Console/bin/Debug
/WUT.ParallelPrograming.EX2/WUT.ParallelPrograming.EX2/obj/Debug
/WUT.ParallelPrograming.EX2/.vs/WUT.ParallelPrograming.EX2/v15
/WUT.ParallelPrograming.EX2/WUT.ParallelPrograming.EX2/bin/Debug
/WUT.ParallelProgramming.EX3/packages/MQTTnet.2.7.4
/WUT.ParallelProgramming.EX3/WUT.ParallelProgramming.EX3.Console/obj/Debug
/WUT.ParallelProgramming.EX3/WUT.ParallelProgramming.ServerMQTT/obj/Debug
/WUT.ParallelProgramming.EX3/.vs/WUT.ParallelProgramming.EX3/v15
/WUT.ParallelProgramming.EX3/WUT.ParallelProgramming.ServerMQTT/bin/Debug
/WUT.ParallelProgramming.EX3/WUT.ParallelProgramming.EX3.Console/bin/Debug
/WUT.ParallelProgramming.EX3/WUT.ParallelProgramming.EX3.Jankiel/bin/Debug
/WUT.ParallelProgramming.EX3/WUT.ParallelProgramming.EX3.Jankiel/obj/Debug
