/WUT.ParallelProgramming/.vs/WUT.ParallelProgramming/v15/.suo
/WUT.ParallelProgramming/.vs/WUT.ParallelProgramming/v15/Server/sqlite3/db.lock
/WUT.ParallelProgramming/.vs/WUT.ParallelProgramming/v15/Server/sqlite3/storage.ide
/WUT.ParallelProgramming/.vs/WUT.ParallelProgramming/v15/Server/sqlite3/storage.ide-shm
/WUT.ParallelProgramming/.vs/WUT.ParallelProgramming/v15/Server/sqlite3/storage.ide-wal
/WUT.ParallelProgramming/WUT.Zad1.Lib/obj/Debug
/WUT.ParallelProgramming/WUT.Zad1.Console/obj/Debug
/WUT.ParallelProgramming/WUT.Zad1.Lib/bin/Debug
/WUT.ParallelProgramming/WUT.Zad1.Console/bin/Debug
