<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WUT.ParallelProgramming.EX3.Jankiel.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WUT.ParallelProgramming.EX3.Jankiel.Settings>
            <setting name="HostName" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="PortNum" serializeAs="String">
                <value>1884</value>
            </setting>
        </WUT.ParallelProgramming.EX3.Jankiel.Settings>
    </applicationSettings>
</configuration>